.heading{
    font-weight: 500;
    color: #030229;
    font-size: 4vmin;
}
.header-row{
    align-items: center;
}
.bell-icon{
    padding-left: 10%;
    font-size: 20px;
    cursor: pointer;
}
.generate-id-btn{
    background-color: #605BFF;
    outline: none;
    border: none;
    color: #fff;
    padding: 0% 15%;
}
.generate-id-btn:hover{
    color: #e5e2e2 !important;
}