.header-col{
    margin: 2%;
}
.user-status-text{
    text-transform: capitalize;
    font-weight: 400;
}
.status-tag{
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.update-icon{
    background-color: #ced2f6;
    padding: 10px;
    border-radius: 10px;
    color: #1d75e7;
    cursor: pointer;
}
table{
    padding: 5%;
}
.table-tr{
    text-align: center;
}