.header-col{
    margin: 2%;
}
.user-status-text{
    text-transform: capitalize;
    font-weight: 400;
}
.status-tag{
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.update-icon{
    background-color: #ced2f6;
    padding: 10px;
    border-radius: 10px;
    color: #1d75e7;
    cursor: pointer;
}
#hostel-table{
    padding: 5%;
}
.table-tr{
    text-align: center;
}
.update-btn{
    background-color: #1d75e7;
    color: #ced2f6;
    font-size: 2vmin !important;
    border-radius: 50px !important;
    margin-left: 10px;
}
.input-field{
    width: 60px !important;
}
.form-col{
    display: flex;
    margin-top: 10px;
    margin-bottom: -30px;
}

.sub-table-col{
    width: 100%;
    border: solid 1px #000;
}